@using Biugra.Domain.Models.Dtos.ProvidedService
@using Biugra.Domain.Models.Dtos.Teacher
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<ProvidedServiceDTO>
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">
                    Hizmetler
                </h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">


                    <div class="table-responsive">
                        <div class="col-xl">
                            <div class="text-xl-end mt-xl-0 mt-2">
                                <a asp-controller="ProvidedService" asp-action="Add" type="button" class="btn btn-success mb-2 me-2"><i class="mdi mdi-plus me-1"></i>Hizmet Ekle</a>

                            </div>
                        </div>
                        <table class="table table-centered table-nowrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th>Başlık</th>
                                    <th>Açıklama</th>
                                    <th>Ücret</th>
                                    <th>Öğretmen</th>
                                    <th style="width: 125px;">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model != null)
                                        foreach (var item in @Model)
                                        {
                                            <tr>
                                                <td>
                                                    <h5>@item.Title</h5>
                                                </td>
                                                <td>
                                                    <h5>@(item.Description.Length > 80 ? item.Description.Substring(0, 80) + "..." : item.Description)</h5>
                                                </td>
                                                <td>
                                                    <h5>@item.Price</h5>
                                                </td>
                                                <td>
                                                    <h5>@item.Teacher.Fullname</h5>
                                                </td>
                                                <td>
                                                    <a asp-controller="ProvidedService" asp-action="Update" asp-route-id=@item.Id class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>

                                                </td>
                                            </tr>

                                        }
                                }
                            </tbody>
                        </table>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->

        </div> <!-- end col -->
    </div>
    <!-- end row -->

</div> <!-- container -->